body {
	text-align: center;
}
ul {
	list-style-type: none;
}
input {
	width: 20%;
}
.list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}
.submit:hover {
	background-color: green;
	color: white;
}

.submit {
	height: 50px;
	width: 100px;
}


