body {
	text-align: center;
}
ul {
	list-style-type: none;
}
.list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}
img {
	border-radius: 50%;
	height: 40%;
	width: 40%;
}
.container {
	display: flex;
	width: 50%;
	justify-content: space-between;
}
