body {
	text-align: center;
}
ul {
	list-style-type: none;
}
img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.table {
	display: flex;
	justify-content: space-evenly;
}
.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

td:hover,
img {
	height: 100px;
	width: 100px;
	font-size: 50px;
	border-radius: 50%;
}

@media screen and(max-width: 300px) {
	table {
		display: flex;
		flex-direction: column;
	}
}
